.FeaturedProperties {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.FeaturedProperties__items {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.FeaturedProperties__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.FeaturedProperties__Name{
    font-weight: bold;
}

.FeaturedProperties__city {
    font-weight: 300;
}

.FeaturedProperties__price {
    font-weight: 500;
}

.FeaturedProperties__rating > button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.FeaturedProperties__rating > span {
    font-size: 14px;
}


