.Header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.Header__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px 0;
}

.listMode {
    margin: 20px 0 0 0;
}

.Header__list {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.Header__listItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header__listItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.Header__description {
    margin: 20px 0;
}

.Header__button {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.Header__Search {
    height: 45px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    max-width: 1024px;
}

.Header__Icon {
    color: lightgray;
}

.Header__SearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header__SearchInput {
    border: none;
    outline: none;
}

.Header__SearchText {
    color: lightgray;
    cursor: pointer;
    width: 230px;
    text-align: center;
}

.Header__reactDate {
    position: absolute;
    top: 45px;
    z-index: 2;
}

.Header__options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
    z-index: 2;
}

.Header__optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.Header__optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.Header__optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    background-color: white;
}

.Header__optionCounterNumber {
    width: 10px;
    text-align: center;
}

.Header__optionCounterButton:disabled {
    cursor: not-allowed;
}

